In [1]:
import pandas as pd
import numpy
import csv
from itertools import zip_longest
from itertools import chain


#Data1=pd.read_excel("Pricing_Discrepancy_1.xlsx", sheet_name="CSE+ACC_Updated")
Data1=pd.read_excel("Pricing_Discrepancy_1.xlsx", sheet_name="Recent update")
Data2=pd.read_excel("Pricing_Discrepancy_2.xlsx", sheet_name="Recent update")
#index=Data1.index



INDEX1=[]
INDEX2=[]
for row in Data1.index:
    print(row)

#index = Data2.index
for i in Data1["SKU"]:
    for j in Data2["SKU"]:
        if i==j:
            print("This is your i")
            print(i)
            INDEX1.append(Data1[Data1["SKU"]==i].index.values)
            INDEX2.append(Data2[Data2["SKU"]==j].index.values)

flatten_index1 = list(chain.from_iterable(INDEX1))
print("This is the index of the numbers that are equal")
for i in flatten_index1: 
                   print(i)
        
flatten_index2 = list(chain.from_iterable(INDEX2))
print("This is the index of the numbers that are equal")
for j in flatten_index2: 
                   print(j)

final_index1=[]
for i in flatten_index1:
    final_index1.append(i)

final_index2=[]
for i in flatten_index2:
    final_index2.append(i)
    
#print("This is the order date: ")
#for i in final_index:
                  #print(Data2.loc[i,'Order Date'])
        
        
        
#with open("Pricing_Discrepancy_1.xlsx", "w", encoding="ISO-8859-1", newline='') as update_file:
  #  wr=csv.writer(update_file)
print("----------------------------------")
for i in final_index1:
    for j in final_index2:
            if (final_index1.index(i)==final_index2.index(j)):
                                   Data2.at[j,'Storis price per']=Data1.at[i,'Storis price per']
                                   print(Data2.at[j,'Storis price per'])
#print("**************************************************************************************")
#print(Data2["Order Date"].iloc[157])
#print("**************************************************************************************")
#update_file.close()  
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)



Data2.to_excel("Pricing_Discrepancy_final_sheet.xlsx", "update")
Data2

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
This is your i
1000
This is your i
2000
This is your i
3000
This is your i
4000
This is your i
5000
This is your i
6000
This is your i
7000
This is your i
8000
This is your i
9000
This is your i
13000
This is the index of the numbers that are equal
0
1
2
3
4
5
6
7
8
12
This is the index of the numbers that are equal
0
1
2
3
4
5
6
7
8
15
----------------------------------
1.0
2.0
2.0
3.0
2.0
2.0
1.0
2.0
5.0
1988.0

,Unnamed: 0,**YearMnth**,Whse,SoldToCusNu,EIN,SKU,SKU2,Collection,ItmNbr,Cover,...,Storis Qty,Storis price per,OLD PRICE,NEW PRICE,CPQ TODAY,CPQ CHECK,Difference qty,Difference sale/purch ea,Difference sale/purch ext,ADJUSTMENT TO PURCHASES
0,0,202105,TE_EQ3 LTD.,2040302_EQ3 POLO PARK,30026-09-783A03,1000,200,MORTEN,30026-09-783A03_MORTEN CORNER CURVE,EQ320,...,1,1.0,NaN,NaN,NaN,NaN,0,50.0,50.0,CHARGE STORES
1,1,202105,TE_EQ3 LTD.,2040302_EQ3 POLO PARK,30095-91-816A05,2000,400,REVERIE,30095-91-816A05_REVERIE APARTMENT SOFA,EQ330,...,1,2.0,NaN,NaN,NaN,NaN,0,50.0,50.0,CHARGE STORES
2,2,202105,TE_EQ3 LTD.,2040302_EQ3 POLO PARK,30129-01-748A04,3000,600,SOLO,30129-01-748A04_SOLO SOFA,EQ330,...,1,2.0,NaN,NaN,NaN,NaN,0,50.0,50.0,CHARGE STORES
3,3,202105,TE_EQ3 LTD.,2040302_EQ3 POLO PARK,30129-08-783A01,4000,800,SOLO,30129-08-783A01_SOLO RHF LOVESEAT,EQ320,...,1,3.0,NaN,NaN,NaN,NaN,0,50.0,50.0,CHARGE STORES
4,4,202105,TE_EQ3 LTD.,2040302_EQ3 POLO PARK,30133-03-748A05,5000,1000,REMI,30133-03-748A05_REMI BUTTON TUFTED LOVESEAT,EQ330,...,1,2.0,NaN,NaN,NaN,NaN,0,50.0,50.0,CHARGE STORES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,170,202105,TE_EQ3 LTD.,2719302_EQ3 GTA DISTRIBUTION CENTER,30095-S3-816A00,88,34200,REVERIE,30095-S3-816A00_REVERIE THREE SEAT SOFA,EQ330,...,1,1020.0,NaN,NaN,NaN,NaN,0,100.0,100.0,CHARGE STORES
171,171,202105,TE_EQ3 LTD.,2320202_EQ3 VANCOUVER,30136-08-810A04,88,34400,CELLO,30136-08-810A04_CELLO AA WS RHF LOVESEAT,EQ350,...,1,1050.0,NaN,NaN,NaN,NaN,0,100.0,100.0,CHARGE STORES
172,172,202105,TE_EQ3 LTD.,2719302_EQ3 GTA DISTRIBUTION CENTER,31116-01-748A01,88,34600,OSKAR,31116-01-748A01_OSKAR SOFA,EQ330,...,1,970.0,NaN,NaN,NaN,NaN,0,100.0,100.0,CHARGE STORES
173,173,202105,TE_EQ3 LTD.,2731302_EQ3 MONT-ROYAL DISTRIBUTION CENTER,30095-S3-816A00,88,34800,REVERIE,30095-S3-816A00_REVERIE THREE SEAT SOFA,EQ330,...,1,1020.0,NaN,NaN,NaN,NaN,0,100.0,100.0,CHARGE STORES
174,174,202105,TE_EQ3 LTD.,2731302_EQ3 MONT-ROYAL DISTRIBUTION CENTER,30136-07-810A05,88,35000,CELLO,30136-07-810A05_CELLO AA WS LHF LOVESEAT,EQ350,...,1,1050.0,NaN,NaN,NaN,NaN,0,100.0,100.0,CHARGE STORES

In [3]:
import pandas as pd
import numpy
import csv
from itertools import zip_longest
from itertools import chain
List=pd.read_csv("list.csv")
List

,(PA) EQ3 List Price - *Price List contains....,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Catalog,Grade Grouping,PriceList Name ...,Option Item,Price,User,Time,Date,NaN,NaN,NaN
2,___________________,___________________,______________________________________________...,___________________,___________________,_____________,___________,___________,NaN,NaN,NaN
3,,,UFCA 1711E V3 ...,HL865,0,,0,0,NaN,NaN,NaN
4,,,UFCA 1711E V3 ...,HL866,0,,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
15456,87295-54,EQ3400,UFCA 1711E V3 ...,,670,,0,0,NaN,NaN,NaN
15457,87295-54,EQ3500,UFCA 1711E V3 ...,,715,,0,0,NaN,NaN,NaN
15458,87295-54,EQ3600,UFCA 1711E V3 ...,,760,,0,0,NaN,NaN,NaN
15459,87295-54,EQ3700,UFCA 1711E V3 ...,,805,,0,0,NaN,NaN,NaN
15460,87295-54,EQ3800,UFCA 1711E V3 ...,,855,,0,0,NaN,NaN,NaN